<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SuperSimpleFlaskApp</title>
  </head>
  <body>
    <h1>SuperSimple</h1>
    <form action='/' method='post'>
      <label for="string">Save a simple string to the database</label>
      <input type="text" name="string" maxlength="240">
      <button type="submit">Save</button>
    </form>
    {% if entry_list %}
    <ul>
      {% for entry in entry_list %}
      <li>
        {{ entry }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>
